  {% load static %}
<html>
    <div>
        <label id="infoLabel">
            Game started, score is 1
        </label>
        <canvas width="600" height="600">
            <link rel = "stylesheet" href = "{% static 'game.css' %}">
        </canvas>
        <button  class="exit" method = "get" type="button"><a href="/authorization/exit"> </a> Log out</button>
  <button id = "new_game_button" type = "button"> New game </button>
  <script src="{% static 'game.js' %}"> </script>
    </div>
</html>

